body {
  margin: 0;
  font-variant-ligatures: normal;
}

a.navbar-anchor,
a.navbar-anchor:visited {
  color: white;
  text-decoration: none;
}

#main-content {
  width: 80%;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.button-area {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: column;
}

.button-area > * {
  margin-top: 12px;
}

.navbar-items > * {
  margin-right: 1.4em;
}

.lattice {
  display: flex;
  flex-flow: column;
}

.lattice-rows {
  display: flex;
  justify-content: flex-start;
  text-align: flex-start;
}

.lattice-item {
  border: 1px black solid;
  width: 1.4em;
  height: 1.4em;
  display: inline-block;
  text-align: center;
}

.lattice-label {
  /* lattice-itemの実測値に合わせて0.39を足している */
  width: calc(1.5em + 0.39px);
  height: calc(1.5em + 0.39px);
  display: inline-block;
  text-align: center;
}

.target-html-area {
  display: flex;
}

.view-target-html,
.raw-target-html {
  padding: 0.4em 2em;
  border: 1px solid black;
  justify-content: center;
}

.to-view-from-html {
  margin: auto 2em;
}

.to-edit-button {
  margin-top: 1.2em;
  width: 80%;
}

.raw-target-style {
  padding: 0.4em 2em;
  border: 1px solid black;
  justify-content: center;
  min-width: 40em;
  max-width: 100em;
  white-space: pre-wrap;
}

.raw-title {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 4px 0;
}

.preview-area {
  padding: 0.4em 2em;
  border: 1px solid black;
  width: 80%;
}
