<h2>対象となるhtml</h2>

<div class="target-html-area">
<!-- 以下は気持ち悪くても修正しない(見た目が崩れる) -->
  <pre class="raw-target-html">
<%= html_safe $TARGET_HTML %></pre>
</div>

<form action="/preview" name="preview_form" method="post" style="margin-top: 2em;">
  <label>css(記述しましょう!)</label>
  <div class="mdc-text-field text-field mdc-text-field--fullwidth mdc-text-field--no-label mdc-text-field--textarea">
    <textarea name="style" class="mdc-text-field__input " style="height: 640px; line-height: 1.1em;"  maxlength="10000">
<%= @style || $DEFAULT_STYLE%>
    </textarea>
    <div class="mdc-notched-outline mdc-notched-outline--upgraded">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </div>
  <input type="hidden" name="id" value="<%= @id || ''%>">
  <a type="submit" class="mdc-button mdc-button--raised" style="margin-top: 1.2em;"  href="javascript:preview_form.submit()">プレビュー</a>
</form>

<!-- empty -->
<div style="height: 20vh"></div>
