<h1>ようこそ!!</h1>

<p class="introduction">
  ここはCSSを自慢するためのWebサイト。<br>
  クールなCSSを投稿して管理人をワッと驚かせよう
</p>

<p class="introduction">
  <h4>まずは、<a href="/register">登録</a> / <a href="/login">ログイン</a> だ!</h4>
</p>
